clouds:
  openstack:
    auth:
      auth_url: "{{ osp_auth_url }}"
      username: "{{ osp_auth_username }}"
      password: "{{ osp_auth_password }}"
      project_name: "{{ osp_project_name }}"
      user_domain_name: "{{ osp_user_domain }}"
    verify: False
    region_name: "regionOne"
    interface: "public"
    identity_api_version: 3
